@page "/"
@inject HttpClient Http
@using HomeOwnersAssociation.Shared

@if(community != null)
{
    <h1>Welcome to @community.Name</h1>

}


@functions {
Community community;

protected override async Task OnInitAsync()
{
    community = await Http.GetJsonAsync<Community>("api/Community/Details");
}
}